body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#game-container {
    display: inline-block;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#reset-btn {
    background-color: #f44336;
}

#reset-btn:hover {
    background-color: #e53935;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
