.Uvod {
    background-image: url(https://raw.githubusercontent.com/Jakvos/jakvos.github.io/main/eshop%20baner.png?token=GHSAT0AAAAAAB3VZSIM4UMM7CLCISZ34MTQY4DQFHQ);
    text-align: center;
    text-decoration: overline;
}
.link {
    color: aquamarine;
    background-color: beige;
    background-size: 5%;
    padding: 5px;
}